.ep-form-wrap, .sr-form {
    display: none;
}

#zone2 > div > div.article-content > table > tbody > tr:nth-child(1) > td:nth-child(2) {
    font-weight: 400;
}

/*ADD JC - FK-AGENCY */ 
body.article_list .gla-item-content .gla-btn-read-more{
bottom:45px;
}

body.front{
 overflow-x:hidden;
}

.col2.fb{
overflow:hidden;
}

#mobicheckin-form {
min-height: 400px !important;
}

body.article_list #zone2 div.list-articles div.intro {
    top: 0;
    width: 100%;
    max-height: 700px;
    position: absolute;
}
body.article_list #zone2 div.list-articles div.intro p{
position: absolute;
	left: 50%;
	top: 450px !important;
	color: white !important;
	text-align: center;
		-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 1px;
}

p.cl-item-desc {
    width: 640px;
}


/****** COMPTE CLIENT ******/

.site-banner #cxpmClientAccountWidget .logged #widgetFirstnameText {
    display: inline-block !important;
}
header #cxpmClientAccountWidget .widget-text span a{
	text-transform: initial !important;
}
