.ep-form-wrap, .sr-form {
    display: none;
}

#zone2 > div > div.article-content > table > tbody > tr:nth-child(1) > td:nth-child(2) {
    font-weight: 400;
}

/*ADD JC - FK-AGENCY */ 
body.article_list .gla-item-content .gla-btn-read-more{
bottom:45px;
}

body.front{
 overflow-x:hidden;
}

.col2.fb{
overflow:hidden;
}

#mobicheckin-form {
min-height: 400px !important;
}

body.article_list #zone2 div.list-articles div.intro {
    top: 0;
    width: 100%;
    max-height: 700px;
    position: absolute;
}
body.article_list #zone2 div.list-articles div.intro p{
position: absolute;
	left: 50%;
	top: 450px !important;
	color: white !important;
	text-align: center;
		-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 1px;
}

p.cl-item-desc {
    width: 640px;
}


/****** COMPTE CLIENT ******/

.site-banner #cxpmClientAccountWidget .logged #widgetFirstnameText {
    display: inline-block !important;
}
header #cxpmClientAccountWidget .widget-text span a{
	text-transform: initial !important;
}

.cache-form .header-right ul li.buy-ticket {
    display: none;
}

.front #zone4>div {
    flex: none;
}


/* Semaine du Tourisme */

.semaine .mn-menu-item {
    text-align: center;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    width: calc(100% * 1/3 - 0.01px);
}
.semaine .block.block-page.edito .block-title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    border: 0;
    margin-bottom: 30px;
}
.semaine li.mn-menu-item.mn-item-lvl-2 {
    width: 100%;
}

/* Evts */
.body-corpo.page-events .mod-catal .esf-search-line .form-select {
    width: 48%!important;
}

.body-corpo.page-events.event .edito.mod-catal {
    padding-top: 259px;
}
.body-corpo.page-events.event #zone2 .event-view-full div#activite {
    margin-top: 547px;
}
.body-corpo.page-events.event .site-wrapper .block:not(:first-child) {
    margin-top: 28em;
    margin-bottom: -36em;
}
.evd-infos-type {
    display: none;
}
#zone2 .catal-ed-main-desc h2:nth-of-type(2), p.catal-ed-main-address {
    display: none;
}


.semaine .site-banner.is-stuck #cxpmClientAccountWidget {
    position: fixed;
}
body.article .article-content h3 {
    clear: both;
}
